@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Shrikhand :  "Shrikhand", serif;
    --Roboto : "Roboto", sans-serif;
    --Inter : "Inter", sans-serif;
}

@media screen and (max-width:767px) {

    /* Header */

    header {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 100px;
    }
    header h1 {
        font-weight: 400;
        font-size: 30px;
        font-style: italic;
        font-family: var(--Shrikhand);
    } 
    header a {
        color: black;
        text-decoration: none;
    }
    #burgermenu {
       font-size: 16px;
       font-weight: 900;
    }

    /* Section 1 */

    #Section-1 {
        background-color: #FFAE00; 
       

    }

    #Section-1 h2 {
        font-family: var(--Roboto);
        font-weight: 700;
        font-size:24px;
        text-align: center;
    }

    #Section-1 p {
        font-family: var(--Roboto);
        font-weight: 300;
        font-size: 15px;
        text-align: center;
    }

    #Section-1 input {
        box-shadow: 0px 4px 15px 0px #00000026;
        background: #FFAE00;
        border: none;
        border-radius: 20px;
        padding: 9px 9px;
    }

    ::placeholder {
        font-family: var(--Inter);
        color: black;
        font-size: 15.13px;
        font-weight: 400;
    }

    #btn {
        font-family: var(--Inter);
        font-weight: 500;
        font-size: 12.26px;
        border-radius: 30px;
        padding: 9px 9px;
        background: linear-gradient(198.58deg, #FF7800 15.56%, #FFAE00 100%);
        box-shadow: 0px 4px 4px 0px #00000040;
        border: none;
    }

    /* Section 2 */

    #Section-2 h3 {
        font-family: var(--Roboto);
        font-weight: 700;
        font-size: 24px;
    }
    
    #Section-2 ul {
        list-style: none;
    }

    #Section-2 a {
        text-decoration: none;
        color: black;
        font-family: var(--Roboto);
        font-weight: 500;
        font-size: 16px;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 8px;
    }

    /* Section 3 */

    #Section-3 {
        border-radius: 20px;
        /* background-color: #FFAE00; */
    }

    #Constructeur {
        width: 324px;
        height: 140px;
    }

    #Section-3 article {
        background-color: white;
    }

    #Section-3 h4 {
        font-family: var(--Roboto);
        font-weight: 700;
        font-size: 24px;    
    }

    #Section-3 h5 {
        font-family: var(--Roboto);
        font-weight: 700;
        font-size: 18px;
    }

    #Section-3 {
        font-family: var(--Roboto);
        font-size: 15px;
        font-weight: 300;
    }

    #Like {
        width: 20px;
        height: 20px;
        
    }

    #Section-3 hr {
        color: #FF7800;
        font-size: 1px;
    }

    #Section-3 article div {
        display: flex;
    }

    /* Footer */

    footer {
        background-color: black;
        color: white;
    }

    footer h2 {
        font-family: var(--Shrikhand);
        font-weight: 400;
        font-style: italic;
        font-size: 24px;
    }

    footer p {
        font-family: var(--Roboto);
        font-weight: 300;
        font-size: 15px;
    }
}