@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Shrikhand :  "Shrikhand", serif;
    --Roboto : "Roboto", sans-serif;
    --Inter : "Inter", sans-serif;
}



@media screen and (max-width:767px) {

    header {
        display: flex;
        justify-content: center;
    }
    
    header h1 {
        font-family: var(--Shrikhand);
        font-weight: 400;
        font-size: 30px;
        font-style: italic;
        text-align: center;
    }

}